<div class="conrainer col md-6">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Usuarios</h3>
        </div>
    
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Nombres:</label>
                <input #nombre name ="nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Apellido:</label>
                <input #apellido name ="apellido" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input #email name ="email" type="text" class="form-control">
            </div>
            <button (click)="Guardar(nombre.value,apellido.value,email.value)" class="btn btn-danger">Guardar</button>
        </form>
        </div>
    </div>
</div>
